.adding-page {
  margin-top: 30px;
  padding: 25px;
  background-color: #322727;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.adding-page h2{
  text-align: center;
}
.add-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.field-block{
  display: flex;
  gap: 10px;
}
.field-block span{
  padding: 1px;
  color: red;
  border: 1px red solid;
  font-size: 1em;
}
