.confirmation-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .confirmation-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    text-align: center;
  }
  
  .confirmation-modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .confirmation-modal-message {
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
  }
  
  .confirmation-modal-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .confirmation-modal-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmation-modal-button-yes {
    background-color: #4CAF50;
    color: #fff;
  }
  
  .confirmation-modal-button-no {
    background-color: #f44336;
    color: #fff;
  }
  